*{
    margin: 0;
    padding: 0;
}
/* Navbar */

.full--navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b7e5;
    padding: 30px;
    height: 30px;
}

.nav--logo{
    max-width: 70px;
}

.ul{
    display: flex;
}

.ul > li{
    list-style: none;
    padding: 10px;
}

.ul > li >a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.ul > li >a:hover{
    color: #003366;
}

/* Footer */

.full--footer{
    background-color: #00b7e5;
    padding: 30px;
    height: 10px;
}

.footer--ul{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.footer--ul > li{
    list-style: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

/* Slider/Banner */

:root {
    --heights: 50vh;
    --widths: 100%;
  }

.slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top;
  }
  
  .slide-title,
  .slide-text {
    width: 100%;
    height: 100%;
    color: #c06;
    font-size: 125px;
    position: absolute;
    text-align: center;
    top: 30%;
    z-index: 10;
  }
  
  .slide-text {
    top: 60%;
    font-size: 50px;
  }
  
  .prev,
  .next {
    /*color: transparent;*/
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
  }
  
  .slider-container:hover .prev,.slider-container:hover .next {
    color: black
  }
  
  .slider-container:hover .prev:hover,
  .slider-container:hover .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
  }
  
  .next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 200;
  }
  
  .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }
  
  .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .slider-container:hover .dot{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .slider-container:hover .active-dot{
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .play-pause {
    color: black;
  }

/* Sluzby, vzdelavanie, clanky */

@keyframes contentOpacity {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.full--sluzby, .full--vzdelavanie, .full--clanky, .HomeContent {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    animation-name: contentOpacity;
    animation-duration: 1s;
    min-height: 100vh;
}

.HomeContent{
    margin-top: 50px;
}

.box {
    display: flex;
}

.boxImg--right {
    float: left;
    object-fit: contain;
    width: 500px;
    padding: 0px 0px 35px 35px ;
}

.boxImg--left {
    float: left;
    object-fit: contain;
    width: 500px;
    padding: 0px 35px 35px 0px ;
}

.boxText {
    text-align: justify;
}

.boxText > p{
    text-indent: 20px;
}
                
.uvod {
    width: 90%;
    margin: auto;
}

.uvod--nadpis {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #003366;
    font-size: 25px;
}

.uvod--text {
    font-weight: bold;
    text-align: justify;
    padding-bottom: 50px;
    font-size: 20px;
}

.horizontalLine {
    height: 3px;
    color: #003366;
    background-color: #003366;
    width: 100%;
}

.hr--podNadpisom {
    height: 7px;
    color: #c06;
    background-color: #c06;
    width: 20%;
    margin-bottom: 10px;
}

/* kariera */

.full--kariera {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation-name: contentOpacity;
    animation-duration: 1s;
}

.form-container--login {
    display: flex;
    align-items: center;
}

.form-container--reg {
    display: flex;
    align-items: center;
}

.form--base {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px -1px rgba(0, 20, 40);
}

.form--input {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 25px;
}

.form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #00b7e5;
    border: none;   
    cursor: pointer; 
}

.form--submit:hover {
    background-color: #003366;
}

/* Dotaznik */

fieldset {
    border: none;
    margin: 25px 0px 25px 0px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -1px rgba(0, 20, 40);
}

legend {
    text-align: center;
    font-size: 30px;
}

.full--dotaznik {
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
    animation-name: contentOpacity;
    animation-duration: 1s;
    min-height: 100vh;
}
  
.dotaznik--submit {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #00b7e5;
    border: none;   
    cursor: pointer; 
    display: flex;     
    justify-content: center;     
    align-items: center;
}

.dotaznik--submit:hover {
    background-color: #003366;
}

input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px; 
}

.dotaznik--inputs {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -1px rgba(0, 20, 40);
    margin-bottom: 30px;
}

.dotaznik--inputs > input{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 25px;
}

/* referencia */
.form-container--referencia {
    align-items: center;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    animation-name: contentOpacity;
    animation-duration: 1s;
    min-height: 100vh;
}

.text-area--referencie {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
}


/* CRUD test */
/*
.dot {
    text-align: center;
}

.form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input{
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 25px;
}

.oneUser {
    text-align: center;
    width: 300px;
    height: 110px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
}

#updateInput {
    width: 100px;
    height: 30px;
}

*/

